@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="homeBanner" img src="~/Content/Images/banner.jpg" >
    <h1>The Southeast's Largest Collection of Vinyl</h1>
    <p class="lead">Millions of albums from the rare 1910s to contemporary pressings by current artists</p>
    <p><a href="#/Albums" class="btn btn-primary btn-lg">Browse &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rare Albums</h2>
        <p>Seeking that elusive B-side? Check out our Rare Room.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vintage Vinyl</h2>
        <p>Records sourced from all over the world. Find 1960s Cambodian rock, 1930s Paris salsa, and 1970s American classics.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Satisfaction Guaranteed</h2>
        <p>Our records are guaranteed to be in good, used condition or new as listed.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>  